/* Sen */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Black.ttf') format('truetype');
  }
  